@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Font-size-paragraph: 18px;
    --Font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Font-family);
    background-color: var(--Very-dark-blue-mainBG);
    min-height: 100vh;
}

img {
    width: 100%;
}

.card__container {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    max-width: 300px;
    background-color: var(--Very-dark-blue-cardBG);
}

.card__img {
    margin: 1em 1em 1.5em;
}

.card__text {
    margin: 1em 1em 1.5em;
}

.card__text .card__h3 {
    color: var(--White);
}

.card__text .card__p {
    color: var(--Soft-blue);
}

.card__price {
    display: flex;
    justify-content: space-between;
}

.card__price .price__h4 {
    color: var(--Cyan);
}

.days__h4 {
    color: var(--Soft-blue);
}

.price__eth {
    display: flex;
    gap: .5em;
}

.price__eth img {
    width: 10px;
    display: block;
}

.line {
    width: 1px;
    height: 1px;
    margin: 1em 0;
    display: block;
    color: var(--Very-dark-blue-line);
}