@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Font-size-paragraph: 18px;
    --Font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Font-family);
    background-color: var(--Very-dark-blue-mainBG);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.card__container {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.card {
    max-width: 300px;
    background-color: var(--Very-dark-blue-cardBG);
    border-radius: .8em;
}

.card__img {
    margin: 1em 1em 1.5em;
    position: relative;
}

.card__img div {
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.493);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: .8em;
}


.card__img div:hover {
    opacity: 1;
    cursor: pointer;

}

.card__img div img {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img__nft {
    border-radius: .8em;
    display: block;
}

.card__text {
    margin: 1em 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card__text .card__h3 {
    color: var(--White);
    cursor: pointer;
}

.card__text,
.card__h3:hover {
    color: var(--Cyan);
}

.card__text .card__p {
    color: var(--Soft-blue);
}

.card__price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__price .price__h4 {
    color: var(--Cyan);
}

.days__h4 {
    color: var(--Soft-blue);
}

.price__eth {
    display: flex;
    gap: .5em;
}

.price__eth img {
    width: 10px;
    display: block;
}

.line {
    width: 100%;
    height: 1px;
    margin: .5em 0;
    display: block;
    background-color: var(--Very-dark-blue-line);
}

.author {
    display: flex;
    align-items: center;
}

.author__img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--White);
    border-radius: 50px;
}

.author__p {
    margin-left: 1em;
    color: var(--Soft-blue);
}

.author__p a {
    text-decoration: none;
    color: var(--White);
}

.author__p a:hover {
    color: var(--Cyan);
}