// Screen medium

@media (max-width: 1100px) {
  .feature__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
  }
  .feature_card:nth-child(1),
  .feature_card:nth-child(3) {
    transform: translateY(0%);
  }
}
