// Screen mobile

@media (max-width: 600px) {
  .grid__content {
    max-width: 37em;
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .item__subscribe {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    border-radius: 0;
  }

  .item__benefits {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    border-radius: 0 0 0.5em 0.5em;
  }
}
