@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);
    --White-main-heading-stats: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
    --Font-size: 15px;
    --font-family-Inter: 'Inter', sans-serif;
    --font-family-Lexend-Deca: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue-main-background);
}

.container {
    max-width: 1200px;
}

.card {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--Dark-desaturated-blue-card-background);
    border-radius: .8em;
}

.card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 .8em .8em 0;
}

.card__img {
    position: relative;
}

.card__img::after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(277, 64%, 61%, 0.5);
    border-radius: 0 .8em .8em 0;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    padding: 5rem;
}

.card__text h2 {
    font-family: var(--font-family-Inter);
    color: var(--White-main-heading-stats);
    line-height: 1.5;
    font-size: 2rem;
}

.card__text p {
    color: var(--Slightly-transparent-white-main-paragraph);
    line-height: 1.5;
    font-family: var(--font-family-Lexend-Deca);
    font-size: .9rem;
}

.card__text h2 span {
    color: var(--Soft-violet-accent);
}

.card__text .card__statistics {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}

.card__statistics .statistics__item h4 {
    font-size: 1.2rem;
    margin-bottom: .5em;
    font-family: var(--font-family-Inter);
    text-transform: uppercase;
}

.card__statistics .statistics__item h4:first-child {
    color: var(--White-main-heading-stats);
}

.card__statistics .statistics__item h4:last-child {
    color: var(--Slightly-transparent-white-stat-headings);
    font-size: .8rem;
    font-family: var(--font-family-Inter);
    letter-spacing: 2px;
}

@media only screen and (max-width: 425px) {
    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1fr);
        margin: 3em auto;
    }

    .card__img img {
        order: 100;
        height: 250px;
        border-radius: .8em .8em 0 0;
    }

    .card__img::after {
        border-radius: .8em .8em 0 0;
    }

    .card__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        padding: 2rem;
        order: 200;
        text-align: center;
    }

    .card__text p {
        font-size: 1.1rem;
    }

    .card__text .card__statistics {
        margin: 0 auto;
        margin-top: 2.5em;
        gap: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}