@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --Font-size-name-and-stats: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    font-size: var(--Font-size-name-and-stats);
}

.content__card {
    width: 90%;
    margin: 1em auto;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: .8em;
}

.card__stats {
    display: flex;
    justify-content: space-between;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.quantity {
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

.unix {
    font-size: .8em;
    letter-spacing: 1px;
    color: var(--Dark-gray);
}